<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sharing Your Moments</title>
</head>
<body>
<form id="form" action="/user/album/addele" enctype="multipart/form-data" method="post">
    <input type="text" id="albumId" name="albumid"><br>
    <input type="file" id="chooseImage" name="ele-file"><br>
    <!-- 保存用户自定义的背景图片 -->
    <!-- <img id="cropedBigImg" value='custom' alt="lorem ipsum dolor sit" data-address='' title="自定义背景"/> -->
    <input type="text" id="description" name="description"><br>
    <input type="submit">
</form>
<script>

</script>
</body>
</html>